<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	<link rel="stylesheet" href="css/animations.css">
	<link rel="stylesheet" href="css/custom-register.css">
	<link rel="stylesheet" href="css/custom-login.css">
	<link rel="stylesheet" href="css/md-data-table-style.css">
	 <base href="/rath/">
</head>
<body ng-app="RathApp" ng-controller="MainController" layout="column" >
	<div>
	<md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2>
          <span>Rathskellar Eatery</span>
        </h2>
        <span flex></span>
        <a href="index" flex> Home </a>
        <a href="contactUs" flex> Contact Us </a>
        <a href="aboutUs" flex> About Us </a>
        <a href="menu" flex> Menu </a>
        <a ng-if="user" ng-href="#" ng-click='panel()' flex>Account</a>
       	<a ng-if="user" ng-href='index' ng-click='logout()' flex> Logout </a>
	 	<a ng-if="!user" href="login" flex> Login </a>
       	<a ng-if="!user" href="register" flex> Register </a>       
      </div>
    </md-toolbar>
    </div>
    <div class="view-animate-container">
    <div ng-view class="view-animate"></div>
    <hr>
    <table>
    		<tr>
    			<td><img src="http://localhost:8080/rath/images/1.JPG" height="300" width="300"/></td>
    			<td><p> The Rathskeller is located on the ground floor of Evans Hall. We are known on campus as "The Rat" , a place for casual dining with 3 large flat screen TV's, free Wi-Fi, 3 pool tables and Cyberden.
The Eatery features a cooked-to-order menu with fresh baked pizza, deli subs, burgers & fries. Otis Spunkmeyer gourmet cookies are baked daily and are a favorite to top off a meal.

The Convenience Store offers a full line of bottled drinks, snacks, novelty ice cream and a grab-n-go section with sandwiches and salads. Also, there is a grocery section including frozen foods.  These items are great for meals in your room.</p><br><br><br>Please Register or Login to continue to Our Site</td>
    			<td><img align="right" src="http://localhost:8080/rath/images/2.JPG" height="300" width="300"/></td>
    		<tr>
    		<tr>
    			<td><img  src="http://localhost:8080/rath/images/3.JPG" height="300" width="300" /></td>
    			<td><a ng-if="!user" href="login" flex> Login </a><br>
       	<a ng-if="!user" href="register" flex> Register </a> </td>
    			<td><img align="right" src="http://localhost:8080/rath/images/4.JPG" height="300" width="300"/></td>
    		<tr>
    	</table>
  </div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://code.jquery.com/jquery-2.1.4.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"> </script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script> 
  <!-- Your application bootstrap  -->
  <script type="text/javascript" src="js/script.js">   
  </script>
  <script type="text/javascript" src="js/md-data-table-templates.js">   
  </script>
    <script type="text/javascript" src="js/md-data-table.js">   
  </script>
  
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->